$black: #000;
$white: #FFF;
$gold: #9e8a59;
$blue: #0c1652;
$cream: #f6f4f0;

$font-size-base: 16px;

$background: $cream;


/* GRID VARIABLES */
$container-width: 1400px;
$grid-width: 60px;
$grid-count: 12;
$gutter-width: 20px;